body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  min-width: 320px;
  padding: 20px 0;
}

.wrapper__inner {
  max-width: 900px;
  margin: 0 auto;
}

.form {
  display: flex;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
}

.form__item {
  margin-right: 10px;
}

.form__item:last-child {
  margin-right: 0;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0 10px;
  border: 1px solid #d3d9de;
  border-radius: 1px;
  color: #000;
  font-size: 13px;
}

.input_error {
  border-color: red;
  outline-color: red;
  background-color: #ffa6a6;
}

.button {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0 20px;
  border: 0;
  border-radius: 4px;
  background-color: #5181b8;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

.button:hover {
  background: #5b88bd;
}

.result {
  padding: 10px 0;
}

.result__total {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list__item {
  min-width: 200px;
  margin: 10px;
}

.card__link {
  font-size: 14px;
}

.error {
  display: none;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid red;
  color: red;
  font-size: 13px;
}

.error_show {
  display: block;
}

/* image lazy loading */
img {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

img[data-loading] {
  opacity: 0;
}